
<div class="row">
    <div class="col-md-6">
        <h1>Manage Articles</h1>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-link" routerLink="/articles">
            <i class="fa fa-arrow-left"></i> Back to HomePage
        </a>
    </div>
</div>


<div class="text-right">
  <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm"><i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add Article</a>
    <a href="" class="btn btn-danger btn-rounded ml-2 mb-4" data-toggle="modal" data-target="#deleteEmployeeModal"><i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete Article</a>
</div>
 

<!--add article -->

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="articleForm" (ngSubmit)="saveArticle()">

            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="Titre" autocomplete="off" value="{{FindArticle['Titre']}}"  type="text" class="form-control" id="title">
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Titre').touched && articleForm.get('Titre').invalid">
                    This field is required !
                </div>
            </div>
    
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea  formControlName="Body"  value="{{FindArticle['body']}}"  placeholder="Your content" class="form-control" id="Content" rows="4"></textarea>
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Body').touched && articleForm.get('Body').invalid">
                    This field is required !
                </div>
            </div>
    
            <div class="form-group">
                <label for="Content">Image</label>
                <input  formControlName="Img" autocomplete="off"  value="{{FindArticle['img']}}" placeholder="Link of the Image" type="text" class="form-control" id="image">
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Img').touched && articleForm.get('Img').invalid">
                    This field is required !
                </div>
            </div>
    
            <!-- <div class="form-group">
                <label for="Content">Video</label>
                <input  formControlName="video"  autocomplete="off"  placeholder="Link of the Video" type="text" class="form-control" id="image">
            </div> -->
    
            <div class="form-group">
              <label for="category">Category</label>
              <select formControlName="CategorieID" class="form-control" id="category">
                <option value="">Select One Category</option>
                <option [value]="cat.ID" *ngFor="let cat of cats">{{ cat.Titre }}</option>
              </select>
              <div class="alert alert-danger mt-1" *ngIf="articleForm.get('CategorieID').touched && articleForm.get('CategorieID').invalid" >
                This field is required !
              </div>
          
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button (click)="saveArticle()" type="submit"  data-dismiss="modal" class="btn btn-primary">Add New Article</button>
            </div>
       </form>
      </div>
     
    </div>
  </div>
</div>



<!-- Edit Article -->
<div class="modal fade" id="editEmployeeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form [formGroup]="articleForm">

            <div class="form-group">
                <label for="title">Title</label>
                <input formControlName="Titre" autocomplete="off"  value="{{FindArticle['Titre']}}" placeholder="Your title" type="text" class="form-control" id="title">
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Titre').touched && articleForm.get('Titre').invalid">
                    This field is required !
                </div>
            </div>
    
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea  formControlName="Body" value="{{FindArticle['body']}}" placeholder="Your content" class="form-control" id="Content" rows="4"></textarea>
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Body').touched && articleForm.get('Body').invalid">
                    This field is required !
                </div>
            </div>
    
            <div class="form-group">
                <label for="Content">Image</label>
                <input  formControlName="Img" autocomplete="off" value="{{FindArticle['img']}}"  placeholder="Link of the Image" type="text" class="form-control" id="image">
                <div class="alert alert-danger mt-1" *ngIf="articleForm.get('Img').touched && articleForm.get('Img').invalid">
                    This field is required !
                </div>
            </div>
    
            <!-- <div class="form-group">
                <label for="Content">Video</label>
                <input  formControlName="video"  autocomplete="off"  placeholder="Link of the Video" type="text" class="form-control" id="image">
            </div> -->
    
            <div class="form-group">
              <label for="category">Category</label>
              <select formControlName="CategorieID" class="form-control" id="category">
                <option value="">Select One Category</option>
                <option [value]="cat.ID" *ngFor="let cat of cats">{{ cat.Titre }}</option>
              </select>
              <div class="alert alert-danger mt-1" *ngIf="articleForm.get('CategorieID').touched && articleForm.get('CategorieID').invalid" >
                This field is required !
              </div>
          
            </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input data-dismiss="modal" type="button" class="btn btn-info" value="Save">
                </div>
       </form>
      </div>
     
    </div>
  </div>
</div>

<!-- Delete -->
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Article</h4>
						<button type="button" id="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input (click)="deleteArticle()" data-dismiss="modal" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>


<!--Table-->
<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
        <tr>
            <th>
                    <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                    </span>
            </th>
            <th>#</th>
            <th>Date</th>
            <th>Title</th>
            <th>Content</th>
            <!-- <th>Image</th> -->
            <!-- <th>Video</th> -->
            <th>Journalistes_Nom</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody >
        <tr class="tableau" *ngFor="let slide of slider">
            <th>
                <span class="custom-checkbox">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
                </span>
            </th>
            <th>{{slide.ID}}</th>
            <th>{{slide.Date|date:'shortDate'}}</th>
            <th>{{slide.Titre|slice:0:30}}...</th>
            <th>{{slide.body|slice:0:60}}...</th>
            <!-- <th>{{slide.img}}</th> -->
            <!-- <th>{{slide.video}}</th> -->
            <th>{{slide.Journalistes["Nom"]}}</th>
            <th>{{slide.Categorie}}</th>

            <th>
                <a href="#editEmployeeModal" (click)="PushID(slide.ID)" (click)="findArticle()"  class="edit mx-2" data-dismiss="modal"  data-toggle="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="#deleteEmployeeModal"   (click)="PushID(slide.ID)"    class="delete" data-dismiss="modal"  data-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </th>
        </tr>
        <tr class="tableau" *ngFor="let article of bodyArticle">
            <th>
                <span class="custom-checkbox">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
                </span>
            </th>
            <th>{{article.ID}}</th>
            <th>{{article.Date|date:'shortDate'}}</th>
            <th>{{article.Titre|slice:0:30}}...</th>
            <th>{{article.body|slice:0:60}}...</th>
            <!-- <th>{{article.img}}</th> -->
            <!-- <th>{{article.video}}</th> -->
            <th>{{article.Journalistes['Nom']}}</th>
            <th>{{article.Categorie}}</th>
            <th>
                <a href="#editEmployeeModal" (click)="PushID(article.ID)"  (click)="findArticle()" class="edit mx-2" data-dismiss="modal"  data-toggle="modal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="#deleteEmployeeModal"  (click)="PushID(article.ID)"    class="delete"  data-dismiss="modal"   data-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </th>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->


<div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
        <li class="page-item disabled"><a href="#">Previous</a></li>
        <li class="page-item active"><a href="" class="page-link">1</a></li>
        <li class="page-item"><a href="" class="page-link">2</a></li>
        <li class="page-item "><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="" class="page-link">4</a></li>
        <li class="page-item"><a href="" class="page-link">5</a></li>
        <li class="page-item"><a href="" class="page-link">Next</a></li>
    </ul>
</div>






