<div class="row mt-4">
  <div class="col-md-6 text-left">
    <h1>{{CatName}}</h1>
  </div>
  <div class="col-md-6 text-right">
      <a class="btn btn-link" routerLink="/articles">
          <i class="fa fa-arrow-left"></i> Back to HomePage
      </a>
  </div>

</div>

    <hr class="ligne">
    <div class="big-data">
    
      <div class="row article" *ngFor="let bodyart of ArticlesTable">
          <div class="col-md-5" >
            <img [routerLink]="['/articles', bodyart.ID]" class="card-img-top" src="{{bodyart.img}}" alt="Card image cap">
          </div>
        <div class=" liens col-md-7">
                <img class="icon-logo" src="assets/image/NP.svg" alt="logo-icon">
                <div class="date-logo">
                  <span class="bg-text">{{bodyart.Date| date:'shortDate'}}</span>
                  <span class="name"><a  [routerLink]="['/articles/Journalist', bodyart.Journalistes.Id]">@{{bodyart.Journalistes.Nom}}</a></span>
                </div>

                <div class="card-body">
                  <h5><a [routerLink]="['/articles', bodyart.ID]">{{bodyart.body|slice:0:130}}...</a></h5>
                </div>
    
                <ul class="social-media">
                  <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
         
        </div>
    </div>
    
    </div>
    <hr>
    

