      <div class="menu-foot mt-4">
           <ul class="list-group">
               <li><a href="#">Conditions d'utilisation </a></li>
               <li><a href="#">Contact </a></li>
               <li><a href="#"> Mentions Légales </a></li>
               <li><a href="#">CGU </a></li> 
               <li><a href="#">News </a></li>
               <li><a href="#">Aide</a> </li>
           </ul>
      </div>
  

    <div class="footer">
            <div class="rights">
                    <span>Copyright © 2020 <b>The News Protal. </b>We are not responsible for the content of external sites. Read about our approach to external linking.</span>
            </div>
              
            <div class="coloboration">
                <a href="https://limportant.fr/"><img src="assets/image/important.png" alt="logo"></a>
                <a href="https://www.nbcnews.com/"><img src="assets/image/cnn.png" alt="logo"></a>
                <a href="https://www.itnews.com/"><img src="assets/image/it.jpg" alt="logo"></a>
                <a href="https://www.01net.com/"><img src="assets/image/01net.png" alt="logo"></a>
                <a href="https://www.nbcnews.com/"><img src="assets/image/nbcc.png" alt="logo"></a>
            </div>
   </div>
